// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "./components/components";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

body {
    background-color: #FAFAFA;
    font-family: 'Cairo', sans-serif;
    color: #333;
    text-align: start;
}

html,
body {
    height: 100%;
    direction: rtl;
}

main {
    flex: 1 0 auto;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    line-height: 1.6;
}

*:focus {
    outline: inherit !important;
    box-shadow: none !important;
}

#app {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.section-title {
    font-size: 20px;
    color: #246284;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;

    &:before {
        content: '';
        width: 82px;
        border: 2px solid #F7AD0E;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 50px;
    }
}
