// Our Buttons

.btn-tanmya-primary {
    background-color: #246284;
    color: #FFF;
    border-radius: 50px;

    &.fs-14 {
        font-size: 14px;
    }

    &:hover {
        background-color: #51D8B8;
        color: #FFF;
    }
}

.btn-tanmya-secondary {
    background-color: #92187B;
    color: #FFF;
    border-radius: 50px;

    &.fs-14 {
        font-size: 14px;
    }

    &:hover {
        background-color: #F7AD0E;
        color: #FFF;
    }
}

.btn-tanmya-primary-yellow {
    background-color: #F7AD0E;
    color: #FFF;
    border-radius: 50px;

    &:hover {
        box-shadow: 0 10px 6px #00000047;
        color: #FFF;
    }
}

.btn-tanmya-secondary-outline {
    border: 1px solid;
    border-color: #92187B;
    border-radius: 50px;
    color: #92187B;

    &:hover {
        color: #fff;
        background-color: #92187B;
    }
}

.btn-tanmya-primary-outline {
    border: 1px solid;
    border-color: #246284;
    border-radius: 50px;
    color: #246284;

    &:hover {
        color: #fff;
        background-color: #246284;
    }
}
